@import "../../styles/variables.scss";

.root {
    color: $foreground-text-dim;
    box-sizing: border-box;
}

.content {
    padding: 2rem;
}

.bright {
    background-color: $background-bright;
}

.dark {
    background-color: $background-dark;
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.pickupContentContainer,
.pickupServiceContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    > * {
        margin-top: 2rem;
    }
}

.pickupServiceImageContainer,
.pickupImageContainer {
    margin-top: 2rem;
}

.footer {
    padding: 1rem;
}

.header {
    padding: 0 1rem;
}

.screen1BottomSection {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    width: 100%;

    > * {
        margin: 0 0.4rem;
    }
}

.openAutoLogo {
    display: none;
}

@media only screen and (min-width: $bp-md) {
    .content {
        padding: 4rem;
    }

    .pickupServiceImageContainer {
        margin: 5rem;
    }

    .footer {
        padding: 2rem 4rem;
    }

    .header {
        padding: 0 4rem;
    }

    .screen1BottomSection {
        justify-content: flex-end;

        position: relative;
    }

    .openAutoLogo {
        display: block;

        position: absolute;
        left: 50%;
        top: 50%;

        transform: translateX(-50%) translateY(-50%);

        filter: brightness(0) invert(1);
    }
}
